<div class="products__container">
  {{#each products}}
    <div class="product__container">
      <div class="product__category">
        <span>{{this.category}}</span>
      </div>
      <div class="product__img--container">
        <img src={{this.thumbnail}} alt={{this.title}} />
      </div>
      <h4 class="product__price">PRICE: ${{this.price}}</h4>
      <h3 class="product__title">{{this.title}}</h3>
      <button>add to cart</button>
    </div>
  {{/each}}
</div>